

.body-div{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.body-left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    gap: 20px;

}

.body-right{
    border-left: 2px solid darkblue;
    padding: 0 12px;
}

.pagination{
    display: flex;
    justify-content: center;
}
.pagination button{
    margin: 0 5px;
    padding: 5px 15px;
    border: 2px solid darkorange;
    color: black;
    font-weight: 700;
    background: white;
}

 .selected{
    background: darkorange !important;
    color: white !important;
}